.card-preview {
  position: relative;

  max-width: 300px;
  height: 200px;
  margin: 0 auto;

  color: #fff;

  background-color: lightblue;
  border-radius: 20px;
}
.card-vendor {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 70px;
  height: 45px;
}
.card-vendor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-number {
  position: absolute;
  top: 100px;

  width: 100%;
  height: 30px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  text-align: center;
}
.card-full-name {
  position: absolute;
  top: 145px;
  left: 30px;

  width: 100%;
  height: 30px;

  font-size: 0.6rem;
  line-height: 1rem;
  text-transform: uppercase;
}
.card-valid-through {
  position: absolute;
  top: 145px;
  right: 30px;

  width: 72px;
  height: 30px;

  font-size: 0.6rem;
  line-height: 1rem;
  text-align: right;
  text-transform: uppercase;
}

.card-cvc {
  position: absolute;
  top: 80px;
  right: 45px;

  font-size: 0.6rem;
}

.card-chip {
  position: absolute;
  top: 60px;
  left: 30px;

  width: 40px;
  height: 30px;
  padding: 0;

  background-image: url(../assets/img/chip.svg);
  background-repeat: no-repeat;
}

.card-signals {
  position: absolute;
  top: 15px;
  left: 30px;
}
.card-signals img {
  width: 35px;
  height: 35px;

  filter: invert();
}
