.App {
  max-width: 700px;
  margin: 0 auto;
}

.cards-home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 85vh;
  margin-top: 1rem;
}

.non-active-cards {
}

.cards-wrapper {
  display: flex;
  height: 280px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .cards-wrapper {
    overflow: hidden;
  }
}

.cards-wrapper .card-preview {
  /* flex: 0 0 300px;
  height: 200px;
  margin: 0 1rem;
  margin-bottom: 2rem; */
}

.cards-wrapper .card-preview:first-child {
}

.btn-add-card {
  display: block !important;
  margin: 0 auto;
  margin: 0 2rem;
}

.MasterCard {
  background-image: linear-gradient(to right, #f68c29, #fba52d);
}
.Visa {
  background-image: linear-gradient(to right, #1266ad, #1082be);
}
.Amex {
  background-image: linear-gradient(to right, #1266ad, #1082be);
}
.Klarna {
  background-image: linear-gradient(to right, #feb3c7, #ffc4d5);
}
.Bitcoin {
  background-image: linear-gradient(to right, #363636, #a8a8a8);
}

.card-item {
  flex: 0 0 300px;
  height: 200px;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.card-buttons {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
}
.card-buttons button:first-child {
  width: 100%;
  margin-right: 0.25rem;
}
.card-buttons button:last-child {
  width: 100%;
  margin-left: 0.25rem;
}

.active-card-title {
  margin-top: 1rem;
  margin-bottom: 0;

  text-align: center;
}

.login-page {
  text-align: center;
}

.login-btn {
  width: 80%;
  margin-top: 1rem;
}

.add-card-container {
  max-width: 90%;
  margin: 0 auto;
}

.add-card-container h4 {
  margin-top: 1rem;
  margin-bottom: 0;

  text-align: center;
}
.add-card-container form {
  margin-top: 2rem;

  text-align: center;
}
.add-card-container label {
  margin: 0;

  font-weight: bold;
}

.add-card-container button {
  width: 100%;
  margin-bottom: 1rem;
}

.home-btn {
  width: 100%;
}

.home-container {
  width: 90%;
  margin: 0 auto;
}

.form-name-container .form-group {
  width: 100%;
}
.form-valid-cvc .form-group {
  width: 100%;
}
